.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* ----MEDIA QUERIES */
@media screen and (max-width: 420px) {

  /* ----common */
  * {
    /* non ho messo il reset completo per non incasinare margini e padding già predefiniti */
    box-sizing: border-box;
  }

  .row {
    width: 100%;
    padding: 5px 10px;
  }

  .row h1 {
    font-size: 28px;
    padding-bottom: 20px;
  }

  .row > div {
    padding-bottom: 50px;
  }

  .row > div:last-child {
    padding-bottom: 10px;
  }

  #steps .row, #why .row {
    margin: 90px auto 0;
  }

  /* ----primo blocco: lezioni */
  #lezioni .row {
    margin: 30px auto 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
  }

  /* ----secondo blocco: steps */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
  }

  /* ----terzo blocco: why */
  #why .row img, img {
    height: 100px !important;
    width: auto;
  }

  #why .row > .first,
  #why .row > .second,
  #why .row > .third {
    margin-top: 50px;
    padding-bottom: 0;
  }

  #why .row hr {
    margin-top: 15px;
    width: 70%;
  }
}
